.form__subtitle {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding-bottom: 15px;
}

@media screen and (max-width: 480px) {
	.form__subtitle {
        font-size: 14px;
	}
}

@media screen and (max-width: 320px) {
	.form__subtitle {
        font-size: 11px;
	}
}