.form {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s, opacity 0.3s linear;
    z-index: 2;
}