.header__menu-item {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    cursor: pointer;
    padding-right: 40px;
}

.header__menu-item:focus {
    color: #64D370;
    text-shadow: 0 0 .45px #333, 0 0 .45 #333;
}

.header__menu-item:hover {
    color: #64D370;
}