.footer__phone {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #64D370;
    text-decoration: none;
    cursor: pointer;
}

.footer__phone:hover {
    text-shadow: 0 0 .45px #333;
}

@media screen and (max-width: 480px) {
    .footer__phone {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .footer__phone {
        font-size: 11px;
    }
}