.footer__phone {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #64D370;
    text-decoration: none;
}

.footer__phone:hover {
    text-shadow: 0 0 .45px #333, 0 0 .45 #333;
}