@media screen and (max-width: 480px) {
    .order-button_place_product {
        font-size: 10px;
        padding: 7px 8px;
    }
}

@media screen and (max-width: 320px) {
    .order-button_place_product {
        font-size: 9px;
        padding: 5px 6px;
    }
}