.footer__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.375;
    color:#020202;
	text-decoration: none;
}

.footer__text:hover {
    color: #64D370;
    text-shadow: 0 0 .45px #333, 0 0 .45 #333;
}

.footer__text:active {
    color: #3D9646;
    text-shadow: 0 0 .45px #333, 0 0 .45 #333;
}

@media screen and (max-width: 768px) {
    .footer__text {
        font-size: 16px;
        line-height: 1;
    }
}

@media screen and (max-width: 480px) {
    .footer__text {
        font-size: 13px;
    }
}

@media screen and (max-width: 320px) {
    .footer__text {
        font-size: 12px;
    }
}