.arrow__item {
    width: 6px;
    height: 6px;
    background-color: #64D370;
    display: inline-block;
	border-radius: 50%;
    vertical-align: top;
    position: relative;
}

.arrow__item:nth-of-type(1) {
	opacity: .2;
}

.arrow__item:nth-of-type(2) {
	opacity: .4;
}

.arrow__item:nth-of-type(3) {
	opacity: .6;
}

.arrow__item:last-of-type:after {
	width: 15px;
	height: 15px;
	border-top: 4px solid #64D370;
	border-right: 4px solid #64D370;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	content: '';
	position: absolute;
	border-radius: 0 0 0 50%;
	top: -6px;
	right: -12px;
}