.form__title {
    color: #fff;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
	.form__title {
        font-size: 18px;
	}
}

@media screen and (max-width: 320px) {
	.form__title {
        font-size: 15px;
	}
}