.form__input {
    border-radius: 190px;
    background: #F5FAFF;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 1.338;
    padding: 10px 0 9px 20px;
    min-width: 300px;
    width: 100%;
    color: #64D370;
}

.form__input:hover {
    box-shadow: 0px 0px 20px rgba(245, 250, 255, 0.6);
}

.form__input:focus {
    box-shadow: 0px 0px 20px #F5FAFF;
}