.main__ellipse {
    background-color: #64D370;
    height: 1290px;
    width: 1290px;
    position: absolute;
    left: 50%;
    top: -260px;
    z-index: -2;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .main__ellipse {
        height: 161vw;
        width: 161vw;
        left: 47vw;
        top: -40vw;
    }
}

@media screen and (max-width: 320px) {
    .main__ellipse {
        height: 161vw;
        width: 161vw;
        left: -2vw;
        top: -80vw;
    }
}