.footer__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 23px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 320px) {
    .footer__content {
        padding: 15px 10px;
    }
}