.slider {
    position: relative;
    padding: 20px 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -26px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 52px;
    background-color:aquamarine;
}

.slider .slick-arrow:hover {
    color: #F5FAFF;
}


.slider .slick-arrow.slick-prev {
    left: 40px;
    background: url(/img/arrow-left.svg) 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 40px;
    background: url(/img/arrow-right.svg) 0 0 / 100% no-repeat;
}

.slider .slick-dots {
    display: flex;
    justify-content: center;
    min-height: 21px;
}

.slider .slick-dots li {
    padding: 0 8px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: none;
    border-radius: 50%;
    border: solid 2px #64D370;
}

.slider .slick-dots li.slick-active button {
    width: 15px;
    height: 15px;
    transition: .3s;
}

.slider .slick-center {
    opacity: 1;
}