.benefits__item-text {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    padding-top: 15px;
}

@media screen and (max-width: 480px) {
    .benefits__item-text {
        padding-top: 10px;
        font-size: 11px;
    }
}

@media screen and (max-width: 320px) {
    .benefits__item-text {
        padding-top: 8px;
        font-size: 9px;
    }
}