.main__img {
    position: absolute;
    width: 650px;
    height: 650px;
    top: 30px;
    right: 0px;
    background: #F5FAFF;
    border: 10px solid #F5FAFF;
    box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.3);
    transform: rotate(-19.06deg);
    border-radius: 350px;
    z-index: -1;
    object-fit: cover;
}