.main__img {
    position: absolute;
    width: 650px;
    height: 650px;
    bottom: 25%;
    left: 1%;
    background: #F5FAFF;
    border: 10px solid #F5FAFF;
    box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.3);
    transform: rotate(-19.06deg);
    border-radius: 50%;
    z-index: -1;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .main__img {
        height: 50vw;
        width: 50vw;
        bottom: 36%;
        border: 5px solid #F5FAFF;
    }
}

@media screen and (max-width: 480px) {
    .main__img {
        bottom: 32%;
        border: 3px solid #F5FAFF;
    }
}

@media screen and (max-width: 320px) {
    .main__img {
        left: 30%;
        bottom: 2%;
        border: 2px solid #F5FAFF;
    }
}