.header__menu-link {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    cursor: pointer;
    color: #020202;
}

.header__menu-link:focus {
    color: #64D370;
    text-shadow: 0 0 .45px #333, 0 0 .45 #333;
}

.header__menu-link:hover {
    color: #64D370;
}

@media screen and (max-width: 768px) {
	.header__menu-link {
        font-family: 'Comfortaa';
        font-weight: 700;
        font-style: 16px;
        line-height: 1.338;
	}
}